.repoBox {
  border: 1px solid white;
  padding: 10px;
  background: #222; 
  text-align: center; 
  cursor: pointer;
transition: background 0.3s ease, border-color 0.3s ease;
}
.repoBox:hover {
  background: #333;
  border-color: #0f9dff;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}
.select{
    background-color: rgb(19, 184, 82);
    border-radius: 8px;
    border: 1px solid;
}